<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Andrew Mead.
                It uses data from <a href="http://mapbox.com">mapbox.com</a>
                and <a href="http://weatherstack.com">weatherstack.com</a>.</p>
            <img class="freqg" src="/img/Frequenzgang.png">
        </div>
        {{>footer}}
    </body>
</html>